@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

* {
  font-family: "Poppins";
}
.dark body,
body.dark{
  background: rgb(15 23 42)
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #fff;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.border {
  border: 2px solid red;
}
